@font-face {
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing:border-box;
    margin: 0;

}


.hidden {
    display: none;
}

button,
input {
    border:none;
    border-radius: 10px;
    font-size: 10px;
}

button:focus, /* 해당 요소들을 클릭했을때 나타나는 효과들을 없애기 위해 */
button:hover,  
button:active,
input:focus,
input:hover,
input:active {
    outline:none;
    box-shadow: none;

}

input::placeholder {
    color: #fff;
    text-align: center;
}

ul,
ol,
li {
    list-style-type:none;
    padding-left:0;
    margin-left:0;
}

 body{
    font-family: twaysky;
    color: #fff;
}

.bgImg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 85%;
}

/* clock */
#day {
    font-family: LAB디지털;
    margin-top: 120px;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

#time {
    margin-top: 10px;
    text-align: center;
    font-family: LAB디지털;
    font-size: 50px;
    font-weight: 700;
}


/* log-in */
#login-form {
    padding: 10px;
    text-align: center;
}

#log-in {
    width: 250px;
    height: 40px;
    border-bottom: 2.5px solid #fff;
    border-radius: 0;
    font-size: 16px;
    background: none;
    color: whitesmoke;

}


/* greeting */
#greeting {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

/* todo-list */
.todolist {
    text-align: center;
}

#todo-form {
    margin-top: 10px;
}

#todo-form input{
    width: 360px;
    height: 28px;
    margin: 10px 0;
    background-color: rgba( 255, 255, 255, 0.2 );
    color: whitesmoke;   
}

#todo-form input:focus{
    background-color: rgba( 255, 255, 255, 0.5 );
}

#todo-form input::placeholder {
    font-size: 14px;
    color: rgba( 255, 255, 255, 0.6 );
}

#todo-list li{
    margin-bottom: 10px;
    color: whitesmoke;
    font-family: EliceDigitalBaeum_Regular;

}

#todo-list button {
    width: 20px;
    padding: 1px 3px;
    margin-right: 4px;
    border-radius:10%;
    background-color:rgba( 255, 255, 255, 0.2 );

}

/* weather */
.weather-form {
  display: flex;
  position:fixed;
  bottom: 10px;
  right: 15px;
  flex-direction:row;
  justify-content: center;
  font-size: 12px;
}

.weather-form p {
    padding-top: 5px;
}

#weather {
    padding-top: 5px;
}
.weather-icon{
    width: 30px;
    height: 30px;
    padding-bottom: 8px;
}